git+https://github.com/ebolotin6/SIPPY.git#egg=sippy
numpy,
scipy,
matplotlib,
control,
slycot,
bleach,
docutils,
Pygments,
future,
tabulate,
mpldatacursor,
svgpath2mpl,
nbconvert,
cmake,
scikit-build,
colorama,
pkginfo,
requests,
tqdm